# Banco de dados Magento (Running Land)
DB_MAGENTO_HOST_EXEMPLO=seu_host_magento
DB_MAGENTO_PORT_EXEMPLO=3306
DB_MAGENTO_USER_EXEMPLO=seu_usuario_magento
DB_MAGENTO_PASSWORD_EXEMPLO=sua_senha_magento
DB_MAGENTO_DATABASE_EXEMPLO=nome_do_banco_magento

# Banco de dados Ativo (Ativo.com)
DB_ATIVO_HOST_EXEMPLO=seu_host_ativo
DB_ATIVO_USER_EXEMPLO=seu_usuario_ativo
DB_ATIVO_PASSWORD_EXEMPLO=sua_senha_ativo
DB_ATIVO_DATABASE_EXEMPLO=nome_do_banco_ativo


# REMOVA O _EXEMPLO e preencha os valores acima para configurar a conexão com os bancos de dados Magento e Ativo.